* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
    border: none;
}

body {
    background-image: url('bg-pattern-top-desktop.svg'), url('bg-pattern-bottom-desktop.svg');
    background-repeat: no-repeat;
}

.top-left {
    float: left;
}

.principal-tittle {
    width: 50%;
    height: 200px;
    font-size: 40px;
    display: inline-block;
    color: hsl(300, 43%, 22%);
    font-weight: bold;
    font-size: 50px;
}

.top-left p {
    color: hsl(300, 43%, 22%);
    font-size: 20px;
}

.reviews {
    position: relative;
    top: -220px;
    left: 50%;
    
}

.report {
    position: relative;
    top: -180px;
    left: 60%;
}

.besttech {
    position: relative;
    top: -140px;
    left: 70%;
}

.paragraph-star {
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    text-align: justify;
    width: 380px;
    padding: 30px;
    border-radius: 5%;
    font-weight: bold;
}
.paragraph-star::before {
    content: "⭐" "⭐" "⭐" "⭐" "⭐";
}

.reviews {
    width: 40%;
    background-color: white;
}

.report {
    width: 40%;
    background-color: white;
}

.besttech {
    width: 40%;
    background-color: white;
}

.contribution-customers {
    clear: left;
    width: 1000px;
    height: 400px;
    /*os itens abaixo estão apenas me ajudando a visualizar as alterações*/
    margin: 10px;
    padding: 30px;
    position: relative;
}

.photo-customer {
    display: inline-block;
    position: relative;
    top: 10px;
    left: 10px;
    padding: 10px;
    border-radius: 50%;
}

.client-name {
    position: relative;
    top: -75px;
    left: 130px;
}

.name {
    color: white
}

.buyer{
    color: hsl(333, 80%, 67%)
}

.depoiment {
    text-align: justify;
    width: 80%;
    margin-left: 30px;
    color: white;
}

.colton {
    width: 350px;
    height: 250px;
    position: relative;
    top: 10px;
    left: 10px;
    background-color: hsl(300, 43%, 22%);
    border-radius: 4%;
}

.colton-say {
}

.irene {
    width: 350px;
    height: 250px;
    position: relative;
    top: -200px;
    left: 400px;
    float: left;
    background-color: hsl(300, 43%, 22%);
    border-radius: 4%;
}

.irene-say {
    clear: right;
    float: left;
}

.ane {
    width: 350px;
    height: 250px;
    position: relative;
    top: -400px;
    left: 200px;
    float: right;
    clear: left;
    background-color: hsl(300, 43%, 22%);
    border-radius: 4%;
}

.ane-say {
}

.attribution {
    clear: right;
    font-size: 11px;
    text-align: center;
    color: hsl(228, 45%, 44%);
}